{% extends "layout.html" %}

{% block title %}
    <title>Poketeams</title>
{% endblock title %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{ message }}
        </div>
    {% endfor %}
    <div class="container" style="width: auto;max-width: none;padding: 0px;">
        <div class="row d-md-flex justify-content-center justify-content-md-center" style="margin: auto;max-width: 600px;">
            <div class="col-md-12" style="margin: 100px;border-radius: 20px;border-width: 2px;border-style: solid;padding: 50px;">
                <form method="POST" action="{{ url_for('users.edit_user_account_details') }}">
                    {{ form.csrf_token }}
                    <h2 style="margin-bottom: 50px;">Edit Account Details</h2>
                    <fieldset>
                        <legend style="font-size: 16px;">Username</legend>
                        {{ form.username(style="width: 500px;min-width: 300px;") }}
                        {% if form.username.errors %}
                            <div class="form-errors">
                                {% for error in form.username.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </fieldset>
                    <fieldset>
                        <legend style="font-size: 16px;">Email Address</legend>
                        {{ form.email(style="width: 500px;min-width: 300px;") }}
                        {% if form.email.errors %}
                            <div class="form-errors">
                                {% for error in form.email.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </fieldset>
                    <div style="margin-top: 30px;">
                        <a class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button">Change Password</a>
                        <div class="collapse" id="collapse-1" style="margin-top: 20px;border-width: 1px;border-style: solid;border-radius: 10px;padding: 20px;">
                            <fieldset>
                                <legend style="font-size: 16px;">Current Password</legend>
                                {{ form.current_password(style="width: 400px;min-width: 300px;") }}
                                {% if form.current_password.errors %}
                                    <div class="form-errors">
                                        {% for error in form.current_password.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </fieldset>
                            <fieldset>
                                <legend style="font-size: 16px;">New Password</legend>
                                {{ form.new_password(style="width: 400px;min-width: 300px;") }}
                                {% if form.new_password.errors %}
                                    <div class="form-errors">
                                        {% for error in form.new_password.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </fieldset>
                            <fieldset>
                                <legend style="font-size: 16px;">Confirm Password</legend>
                                {{ form.confirm_password(style="width: 400px;min-width: 300px;") }}
                                {% if form.confirm_password.errors %}
                                    <div class="form-errors">
                                        {% for error in form.confirm_password.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </fieldset>
                        </div>
                    </div>
                    <div class="text-left d-flex justify-content-center" style="margin-top: 50px;">
                        <div class="submit-button" style="margin-right: 50px;">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                        <a href="{{ url_for('users.get_user_account_details') }}">
                            <button class="btn btn-primary" type="button" style="margin-left: 50px;">Back</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}