{% extends "layout.html" %}

{% block title %}
    <title>Select a Move</title>
{% endblock title %}

{% block content %}
    <div class="container" style="width: auto;max-width: none;padding: 0px;">
        <div class="row" style="margin: 0px;width: auto;">
            <div class="col" style="padding: 0px;width: auto;padding-top: 32px;padding-bottom: 32px;">
                <h2 class="text-center">Move List</h2>
                <p class="text-center">{{ team.name }}, Slot {{ team_pokemon.team_index }}: {{ team_pokemon.pokemon.pokemon_name }}, Move {{ pokemon_move_index }}</p>
            </div>
        </div>
        <p class="text-center" style="margin-bottom: 20px;margin-top: 0px;">Learnable Moves</p>
        <div class="row" style="margin: 0px;">
            <div class="col" style="padding-right: 40px;padding-left: 40px;padding-bottom: 40px;">
                <div class="list-group list-group-horizontal d-sm-flex flex-wrap justify-content-sm-center">
                    {% for move in move_list %}
                        <a href="{{ url_for('moves.view_selected_pokemon_move', team_id=team_id, team_index=team_index, pokemon_move_index=pokemon_move_index, move_id=move[1]) }}" class="list-group-item list-group-item-action" style="max-width: 150px;width: 150px;font-size: 12px;padding: 10px;min-width: 150px;border-radius: 0px;border: 1px solid rgb(0,0,0) ;">
                            <span style="width: 150px;max-width: 200px;font-size: 12px;">{{ move[0].capitalize() }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="margin-bottom: 50px;">
            <a href="{{ url_for('moves.view_pokemon_move', team_id=team_id, team_index=team_index, pokemon_move_index=pokemon_move_index) }}">
                <button class="btn btn-primary" type="button">Back</button>
            </a>
        </div>
    </div>
{% endblock content%}