{% extends "layout.html" %}

{% block title %}
    <title>View Move</title>
{% endblock title %}

{% block content %}
    <div class="container" style="width: auto;max-width: none;padding: 0px;">
        <div class="row" style="margin: 0px;width: auto;">
            <div class="col" style="padding: 0px;width: auto;padding-top: 32px;padding-bottom: 32px;">
                <h2 class="text-center">{{ team.name }}</h2>
                <p class="text-center">Slot Slot {{ team_pokemon.team_index }}: {{ team_pokemon.pokemon.pokemon_name }}, Move {{ pokemon_move_index }}</p>
            </div>
        </div>
        <div class="row d-lg-flex justify-content-lg-center" style="margin: 0px;">
            <div class="col-12" style="padding: 50px;width: 600px;max-width: 600px;min-width: 400px;">
                <p style="width: 500px;">Name: {{ data["name"].capitalize() }}</p>
                <p style="width: 500px;">Move ID: {{ data["id"] }}</p>
                <p style="width: 500px;">Power: {{ data["power"] if data["power"] else 0 }}</p>
                {% if data["accuracy"] %}
                    <p style="width: 500px;">Accuracy: {{ data["accuracy"] }}%</p>
                {% endif %}
                <p style="width: 500px;">PP: {{ data["pp"] }}</p>
                <p style="width: 500px;">Type: {{ data["type"]["name"].capitalize() }}</p>
                {% if data["effect_chance"] %}
                    <p style="width: 500px;">Effect Chance: {{ data["effect_chance"] }}%</p>
                    {% set effect_chance = "data['effect_chance']%" %}
                {% else %}
                    {% set effect_chance = "" %}
                {% endif %}
                <p style="width: 500px;">Effect: {{ data["effect_entries"][0]["effect"].replace("$effect_chance%", effect_chance) }}</p>
            </div>
        </div>
        {% if type == "team" %}
            {% if current_user.id == team.owner_id %}
                <div class="d-flex justify-content-center" style="margin-bottom: 50px;">
                    <a href="{{ url_for('moves.get_pokemon_move_list', team_id=team_id, team_index=team_index, pokemon_move_index=pokemon_move_index) }}">
                        <button class="btn btn-primary" type="button" style="margin: 0px 20px;">Change Move</button>
                    </a>
                    <a href="{{ url_for('pokemon.view_team_pokemon', team_id=team_id, team_index=team_index) }}">
                        <button class="btn btn-primary" type="button" style="margin: 0px 20px;">Back</button>
                    </a>
                    <form method="POST" action="{{ url_for('moves.delete_pokemon_move_slot', team_id=team_id, team_index=team_index, pokemon_move_index=pokemon_move_index) }}">
                        {{ form.csrf_token }}
                        <div class="submit-button" style="margin: 0px 20px;">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="d-flex justify-content-center" style="margin-bottom: 50px;">
                    <button class="btn btn-primary" type="button">Back</button>
                </div>
            {% endif %}
        {% else %}
            <div class="d-flex justify-content-center" style="margin-bottom: 50px;">
                <form method="POST" action="{{ url_for('moves.edit_pokemon_move_slot', team_id=team_id, team_index=team_index, pokemon_move_index=pokemon_move_index, move_id=move_id) }}">
                    {{ form.csrf_token }}
                    <div class="submit-button" style="margin-right: 50px;">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
                <a href="{{ url_for('moves.get_pokemon_move_list', team_id=team_id, team_index=team_index, pokemon_move_index=pokemon_move_index) }}">
                    <button class="btn btn-primary" type="button" style="margin-left: 50px;">Back</button>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock content%}