{% extends "layout.html" %}

{% block title %}
    {% if type == "personal" %}
        <title>My Teams</title>
    {% else %}
        <title>Public Teams</title>
    {% endif %}
{% endblock title %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{ message }}
        </div>
    {% endfor %}
    <div class="container" style="width: auto;max-width: none;padding: 0px;">
        <div class="row" style="margin: 0px;width: auto;">
            <div class="col" style="padding: 0px;width: auto;padding-top: 32px;padding-bottom: 32px;">
                {% if type == "personal" %}
                    <h2 class="text-center">My Pokemon Teams</h2>
                {% else %}
                    <h2 class="text-center">Public Pokemon Teams</h2>
                {% endif %}
            </div>
        </div>
        {% if teams == [] %}
            <div class="row" style="margin: 0px;width: auto;">
                <div class="col" style="width: auto;padding: 100px 0px;">
                    {% if type == "personal" %}
                        <p class="text-center" style="font-size: 32px;font-weight: 300;">You have not created any Pokemon teams.</p>
                        <p class="text-center">
                            <a href="{{ url_for('teams.create_team') }}">
                                <button class="btn btn-primary" type="button" style="margin: auto;">Create a Team</button>
                            </a>
                        </p>
                    {% else %}
                        <p class="text-center" style="font-size: 32px;font-weight: 300;">There are currently no public Pokemon teams.</p>
                        {% if current_user.is_anonymous %}
                            <p class="text-center">
                                <a href="{{ url_for('auth.login') }}">
                                    <button class="btn btn-primary" type="button" style="margin: auto;">Log In</button>
                                </a>
                                &nbsp; to create a team.
                            </p>
                        {% else %}
                            <p class="text-center">
                                <a href="{{ url_for('teams.create_team') }}">
                                    <button class="btn btn-primary" type="button" style="margin: auto;">Create a Team</button>
                                </a>
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% else %}
            {% if current_user.is_authenticated %}
                <div class="col" style="width: auto;padding: 0px 0px;">
                    <p class="text-center">
                        <a href="{{ url_for('teams.create_team') }}">
                            <button class="btn btn-primary" type="button" style="margin: auto;">Create a Team</button>
                        </a>
                    </p>
                </div>
            {% endif %}
        {% endif %}
        <div class="row row-cols-4" style="margin: 0px;padding: 50px;">
            {% for team in teams %}
                <a href="{{ url_for('teams.get_team', team_id=team.id) }}" class="col" style="max-width: 23%;margin: auto;margin-bottom: 30px;min-width: 300px;padding: 10px;border-radius: 10px;border-width: 2px;border-style: solid;">
                    <h4 class="text-center" style="margin-top: 10px;">{{ team.name }}</h4>
                    {% if type == "personal" %}
                        <p class="text-center" style="margin-bottom: 20px;">{{ "Private" if team.is_private else "Public" }}</p>
                    {% else %}
                        <p class="text-center" style="margin-bottom: 20px;">by {{ team.owner.username }}</p>
                    {% endif %}
                    {% for i in range(6) %}
                        {% if team.team_pokemon[i] %}
                            <p style="margin-left: 70px;margin-bottom: 10px;">Slot #{{ i + 1 }}: {{ team.team_pokemon[i].pokemon.pokemon_name.capitalize() }}</p>
                        {% else %}
                            <p style="margin-left: 70px;margin-bottom: 10px;">Slot #{{ i + 1 }}: Empty</p>
                        {% endif %}
                    {% endfor %}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}